@import url('https://fonts.googleapis.com/css?family=Parisienne|Quicksand&display=swap');
html, body {
	height: 90%;
	margin: 0;
    background-color: #1d2026;
}
.container {
	height: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #fff;
}
.lead { color: #8a94a7; font-family: 'Quicksand'; }
.header-bar {
	position: relative;
	width: 50%;
	min-width: 300px;
	height: 50px;
	border: 10px solid transparent;
	border-top: 10px solid #0e87f9;
	border-left: 10px solid #0e87f9;
	box-shadow: 4px 4px 5px #000000 inset;
}

.header-logo-image {
	animation: glow-unglow infinite 5s;
}

@keyframes glow-unglow {
	0% {
		filter: drop-shadow(0 7px 7px rgba(255, 255, 255, 0.5));
	}
	50% {
		filter: drop-shadow(0 7px 7px rgba(255, 255, 255, 0));
	}
	100% {
		filter: drop-shadow(0 7px 7px rgba(255, 255, 255, 0.5));
	}
}

a {
	text-decoration: none;
	color: #0e87f9;
	background-color:transparent;
  }
  
.header-bar::after {
	content: '';
	position: absolute;
	top: -10px;
	right: -10px;
	width: 30%;
	height: 49px;
	border: 10px solid transparent;
	border-bottom: 10px solid #0e87f9;
	border-right: 10px solid #0e87f9;
	transition: 0.3s linear all;
}
.header-bar > .logo {
	position: absolute;
	top: calc(50% - 20px);
	left: 10px;
	transform: translateY(-50%);
	color: #0e87f9;
	font-family: 'Parisienne', cursive;
	cursor: default;
	user-select: none;
}
.slider-menu {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index: 1;
}
.slider-menu > li {
	display: inline-flex;
	padding-top: 14px;
	padding-right: 14px;
	padding-bottom: 14px;
	font-family: 'Quicksand', sans-serif;
	color: #0e87f9;
	cursor: pointer;
	transition: 0.3s linear all;
	user-select: none;
}

.aeu-signature {
	position: fixed;
	top: 5px;
	left: 50%;
	transform: translate(-50%);
	font-size: 15px;
	line-height: 30px;
	background-color: #154877;
	padding: 5px 10px;
	border-radius: 25px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.aeu-signature { font-family: "Quicksand"; }
.aeu-signature > img { height: 30px; }